/.tmp
/dist
/node_modules
/test-results
/playwright-report
Crunchy Watchlist Curator/Crunchy Watchlist Curator.xcodeproj/project.xcworkspace/xcuserdata/matthewfrench.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
